[Unit]
Description=My service
After=network.target

[Service]
ExecStart=$(sudo -u pi pull && /usr/bin/python3 -u main.py)
WorkingDirectory=/home/pi/sense-show
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target