[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/home/pi/sense-show/start.sh
WorkingDirectory=/home/pi/sense-show
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target