[Unit]
Description=SenseShow
After=networking.service
After=nss-lookup.target


[Service]
ExecStart=/home/pi/sense-show/raspberrypi/start.sh
WorkingDirectory=/home/pi/sense-show
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target