RPi.GPIO==0.7.0
Adafruit-Blinka==3.7.1
adafruit-circuitpython-neopixel==4.1.0
aiohttp==3.6.2
sense-energy==0.8.1
python-dotenv==0.10.5
adafruit-circuitpython-ssd1306==2.7.3
Pillow==8.2.0
blessings==1.7